<div class="center">
  <!--If user is not logged in -->
  <div class="login-actions__btns" *ngIf="!userService.isAuthenticated()">
    <button
      (click)="signInSocialAccount('facebook')"
      class="facebook-login__btn"
    >
      <i class="fa fa-facebook"></i>
      Login With Facebook
    </button>
    <br />
    <button (click)="signInSocialAccount('google')" class="google-login__btn">
      <i class="fa fa-google"></i>
      Login With Gmail
    </button>
  </div>

  <!--If user is logged in -->
  <div *ngIf="userService.isAuthenticated()">
    <img
      [src]="userService.userValue.photoUrl"
      alt="profilePic"
      class="profile-pic"
    />
    <p>
      <strong>{{ userService.userValue.name | titlecase }}</strong>
    </p>
    <p>
      <strong>{{ userService.userValue.email }}</strong>
    </p>
    <button class="logout__btn" (click)="logout()">
      <i class="fa fa-sign-out"></i>
      Logout
    </button>
  </div>
</div>
